
<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
     
      #map {
        height: 80%;
      }
    
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .lat {
          color: white;
          display: hide;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div>
        <h3 style="color: rgb(56, 16, 151);"><a href="/index">GO TO DASHBOARD</a></h3>
    </div>
      <table border="1">
       <thead>
        <tr>
          <th>Lat</th><th>Lng</th>
          </tr>
        </thead>

     <tbody id="contents">
      </tbody>
    </table>
    <span id='variableJSON' hidden>
      <%= JSON.stringify(new1); %>
  </span> 

<script>
  

  var cityCircles = [];
var newpost = JSON.parse(window.document.getElementById('variableJSON').innerText);
// console.log(newpost,"neeew");

// var arr=[],count=[];
// var citymap1=newpost;
// var latt,longg;
// var count11=0;



let arr = Object.values(newpost);

let data = arr.map(e=>{
  let obj = {};
  for(let key in e){
    // console.log(key,"aa");
    obj[e[key]]=key;
    // console.log(obj,"obj");
  }
  return obj[`"lat"`]+','+obj[`"lng"`]+','+e["paint"];
})

console.log('yogi data', data);

let count = {};
data.forEach(e=>{
  count[e]=count[e]||0;
  count[e]++;
});

count = Object.entries(count);

const MIN_COUNT = 5; // change to 5

count = count.filter(e=>e[1]>=MIN_COUNT);

count = count.map(e=>e[0]);

citymap1 = count.map(e=>{
  let obj = {};
  let sp = e.split(',');
  obj[sp[0]]=`"lat"`;
  obj[sp[1]]=`"lng"`;
  obj[sp[2]]=`"paint"`;
  return obj;
})
console.log('yogi1', count);

document.getElementById('contents').innerHTML = 
  count
  .map(e=>e.split(','))
  .map((e,i)=>`<tr><td>${e[0]}</td><td>${e[1]}</td><td><form action="/status" method="post">
                                <input type="text" name="uid" value="${e[0]}" style="display: none;">
                                <input type="text" name="uid2" value="${e[1]}" style="display: none;">
                                <button type="submit" class="btn btn-green">setgreen</button>
                            </form></td>
                            <td><form action="/status/white" method="post">
                                <input type="text" name="uid" value="${e[0]}" style="display: none;">
                                <input type="text" name="uid2" value="${e[1]}" style="display: none;">
                                <button type="submit" class="btn btn-green">setwhite</button>
                            </form></td>
                            </tr>`)
  .join('');
console.log('yogi2', citymap1); 

var citymap=citymap1;

// console.log(citymap);
var map,infoWindow;

// function changeColor(i){
//   cityCircles.forEach(e=>e.setOptions({
//     fillColor:'#FF0000',
//     strokeColor:'#FF0000',
//   }));
//   cityCircles[i].setOptions({
//     strokeColor:'#00FF00',
//     strokeColor: '#00FF00'
//   })
// }

function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 12.837310, lng: 80.225180},
          zoom:10,
          mapTypeId: 'terrain'
        });
     for (var city in citymap) {
       var a1=citymap[city];
       var center1={};
       var ab=[1,2,3];
       var ag;
       var bool;
         var color;
       for(var aa in a1)
       {
       
          if (a1.hasOwnProperty(aa))
           {
        // console.log (aa, a1[aa]);
            var ak=10;
          if(a1[aa]=="\"lat\"")
          {
            // console.log(aa,"lat");
            ag=aa%10;
            
            for(var h=0;h<ag;h++)
            {
              ak=ak*10;
            }
            var tt=aa/ak;
            // console.log(tt);
            ab.splice(1,0,tt);
          }
          if(a1[aa]=="\"lng\"")
          {
            // console.log(aa,"lng");
            ag=aa%10;
            for(var h=0;h<ag;h++)
            {
              ak=ak*10;
            }
            var tt=aa/ak;
            // console.log(tt);
            ab.splice(2,0,tt);
          }
          if(a1[aa]=="\"paint\"")
          {
           bool=aa;
           console.log(bool,"bool");
          }
      }
       center1={
        lat:parseFloat(ab[1]),
        lng:parseFloat(ab[2]),
        }
        if(bool=="true")
        {
          color='green';
        }
        else if(bool=="false")
        {
          color='red';
        }
        else if(bool=="true1")
        {
          color='white';
        }
        
        
        console.log(bool,color,"bool");

}
       
      
      // console.log('center',center1);
   
      var cityCircle = new google.maps.Circle({
      strokeColor: color,
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: color,
      fillOpacity: 0.35,
      map: map,
      center:center1,
      radius: Math.sqrt(27148562) * 0.05
    });
    cityCircles.push(cityCircle);

    }
        infoWindow = new google.maps.InfoWindow;

        
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
         
          handleLocationError(false, infoWindow, map.getCenter());
        }
}

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
       }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1LoOvq7e6NJnxJdk2aUi3KZrY5WqY-jI&callback=initMap">
    </script>
  </body>
</html>

